.App {
  text-align: center;
}


#header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5ba13;
}
#header .title {
  margin: 0;
  padding: 0 1rem;
  color: #ffffff;
}
#header .button {
  height: 100%;
  display: flex;
  margin-left: 70%;
  margin-top: auto;

}
#header .button button {
  padding: 0 0.5rem;
  background-color: #ffffff;
  color: black;
  font-size: 1.1rem;
  float: right;
}
#header .button button:hover {
  background-color: #fada5e;
}
